cmudict
cn2an
faster-whisper==0.10.1
g2p_en
GPUtil
gradio==4.36.1
gradio_client==1.0.1
pydantic>=2.0
fastapi<0.113.0
jieba
librosa==0.9.2
loguru
num2words
numpy<2
protobuf==4.25
psutil
punctuators
pyannote.audio>=3.1.0
pyloudnorm
pyopenjtalk-dict
pypinyin
pyworld-prebuilt
stable_ts
tensorboard
torch<2.4
torchaudio<2.4
transformers
umap-learn
onnx==1.16.2
onnxsim
wandb
